

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.welcome{
  background-color: #00FF00;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.navigation{
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.titre_pharma{
  color: #FF8000;
}
.pharma_garde{
  color: #FF00FF;
}
.ajout_pharma{
  color: #007FFF;
}

.copyright{
  background-color: #007FFF;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Logo {
  background-image: url(./logo.jpg);
}